* {
    margin: 0 ;
    padding: 0; 
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: 60px;  
    margin-right: 10px; 
    margin-left: 15px;
}

.navbar {
    display: flex;
    border-bottom: 1px solid grey;
}

.navbar p {
    margin-left: 15px;
    margin-bottom: 10px;
}

