* {
    margin: 0 ;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px;
    height: 60px;  
    margin-right: 10px; 
    margin-left: 15px;
}

.navbar {
    display: flex;
    border-bottom: 1px solid grey;
}

.navbar p {
    margin-left: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.navbar p:hover {
    border-bottom: 2px blue solid;
}

.answer-container {
    width: 1000px;
    margin: 50px auto;
}

.answer-container h2 {
    margin-bottom: 10px;
    margin-top: 60px;
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.answer-container p {
    line-height: 20px;
    font-size: 14px;
}



